name: Debian Build
on:
  workflow_dispatch:
  pull_request:
    branches:
      - master
  schedule:
    # Run every day to detect flakiness and broken dependencies
    - cron: '33 2 * * *'

concurrency:
  # cancel previous runs of the same workflow, except for pushes on humble branch
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ !startsWith(github.ref, '/refs/heads') }}

jobs:
  debian_source_build:
    uses: ros-controls/ros2_control_ci/.github/workflows/reusable-debian-build.yml@master
    strategy:
      fail-fast: false
      matrix:
        ROS_DISTRO: [rolling, jazzy]
    with:
      ros_distro: ${{ matrix.ROS_DISTRO }}
      upstream_workspace: kinematics_interface.${{ matrix.ROS_DISTRO }}.repos
      ref_for_scheduled_build: master
